* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: #f6f6f6; */
}

header {
  background-color: #2c2c34;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  background-color: #2c2c34;
  color: white;
  margin: 0;
  font-size: 36px;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #aaa;
  background-color: #eee;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ddd;
}

form button {
  display: block;
  margin: 0 auto;
  background-color: rgb(54, 186, 247);
  color: white;
}

.noteItem {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.noteItem h3 {
  margin: 0 0 10px 0;
}
